main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

#section-cadastro {
    height: 100%;
    width: 500px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px 20px;
}

#section-cadastro h1 {
    padding: 5px;
    text-align: center;
    background-color: #fff;

}

#section-cadastro h5 {
    text-align: center;
    background-color: #fff;
    padding-bottom: 40px;
    font-weight: normal;
}

#form-cadastrar {
    padding: 50px;

}

#cadastro label {
    text-align: left;

}

#section-cadastro #bt-cadastrar {
    width: 350px;
}

#botao-login {
    position: relative;
    left: 70px;
}

.d-flex {
    display: block !important;
}