<main>
  <section id="section-login">
    <h1>Login</h1>
    <div class="d-flex justify-content-center">
      <form method="post" action="" id="login">
        <p>
          <label for="usuario">Login: </label>
          <input
            id="usuario"
            name="usuario"
            required="required"
            type="text"
            placeholder="Insira o seu usuário"
            class="form-control"
          />
        </p>
        <p>
          <label for="senha">Senha: </label>
          <input
            id="senha"
            name="senha"
            required="required"
            type="password"
            placeholder="Insira a sua senha"
            class="form-control"
          />
        </p>
        <p>
          <input
            type="button"
            value="login"
            class="btn btn-primary"
            id="bt-login"
          />
        </p>
        <a routerLink="/cadastro"> 
        <div id="botao-cadastrar">
          <button type="button" class="btn btn-info">
            Não é cadastrado ainda? Cadastre-se 
          </button>
        </div>
        </a>
      </form>
    </div>
  </section>
</main>
