<main>
  <section id="section-cadastro">
    <div id="form-cadastrar">
      <h1>Cadastar Banner</h1>
      <h5>Informe os seus dados abaixo para criar seu banner.</h5>

      <div class="d-flex justify-content-center">
        <form method="post" action="" id="cadastro">
          <p>
            <label for="usuario">Nome do Produto: </label>
            <input
              id="produto"
              name="produto"
              required="required"
              type="text"
              placeholder="ex. nome do banner"
              class="form-control"
              [(ngModel)]="produto.produto"
            />
          </p>
          <p>
            <label for="descricao">Descrição: </label>
            <input
              id="descricao"
              name="descricao"
              required="required"
              type="text"
              placeholder="ex. banner do luffy"
              class="form-control"
              [(ngModel)]="produto.descricao"
            />
          </p>
          <p>
            <label for="foto">Foto: </label>
            <input
              id="foto"
              name="foto"
              required="required"
              type="text"
              placeholder="bannerLuffy.png"
              class="form-control"
              [(ngModel)]="produto.foto"
            />
          </p>
          <p>
            <label for="preco">Preço: </label>
            <input
              id="preco"
              name="preco"
              required="required"
              type="number"
              placeholder="10.0"
              class="form-control"
              [(ngModel)]="produto.preco"
            />
          </p>
          <p>
            <button
              type="button"
              class="btn btn-primary"
              id="bt-cadastrar"
              (click)="cadastrar()"
            >
              Cadastrar
            </button>
          </p>
        </form>
      </div>
    </div>
  </section>
</main>
