<main>
  <section id="section-banner">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            id="carousel-banners"
            src="../../assets/img/momentosBanner.jpg"
            class="d-block w-100"
            alt="Banner One Piece momentos"
          />
        </div>
        <div class="carousel-item">
          <img
            id="carousel-banners"
            src="../../assets/img/Banners.png"
            class="d-block w-100"
            alt="Banners do One Piece"
          />
        </div>
        <div class="carousel-item">
          <img
            id="carousel-banners"
            src="../../assets/img/trioBanner.jpg"
            class="d-block w-100"
            alt="Banner do Trio monstro"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>


    <h2>Banners em Promoção</h2>
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <mat-card class="card">
        <img
          mat-card-image
          src="../../assets/img/lufyBanner.png"
          alt="Banner do Luffy"
        />
        <mat-card-header>
          <mat-card-title>Monkey D. Luffy,</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Banner do Monkey D. Luffy, é um personagem fictício e o protagonista
            da franquia One Piece.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 100.00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="card">
        <img
          mat-card-image
          src="../../assets/img/zoroBanner.png"
          alt="Banner do Luffy"
        />
        <mat-card-header>
          <mat-card-title>Roronoa Zoro</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Banner do Roronoa Zoro, é um personagem fictício da série One Piece
            criada por Eiichiro Oda.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 100.00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="card">
        <img
          mat-card-image
          src="../../assets/img/sanjiBanner.png"
          alt="Banner do Luffy"
        />
        <mat-card-header>
          <mat-card-title>Vinsmoke Sanji</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Banner do Vinsmoke Sanji é um personagem criado por Eiichiro Oda
            para o seu mangá e anime One Piece.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 100.00</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</main>
