<main>
  <section id="section-cadastro">
    <div id="form-cadastrar">
      <h1>Atualizar Banner</h1>

      <div class="d-flex justify-content-center">
        <form method="post" action="" id="cadastro">
          <p>
            <label for="usuario">Nome do Produto: </label>
            <input
              id="produto"
              name="produto"
              required="required"
              type="text"
              class="form-control"
            />
          </p>
          <p>
            <label for="descricao">Descrição: </label>
            <input
              id="descricao"
              name="descricao"
              required="required"
              type="text"
              class="form-control"
            />
          </p>
          <p>
            <label for="foto">Foto: </label>
            <input
              id="foto"
              name="foto"
              required="required"
              type="text"
              class="form-control"
            />
          </p>
          <p>
            <label for="preco">Preço: </label>
            <input
              id="preco"
              name="preco"
              required="required"
              type="number"
              class="form-control"
            />
          </p>
          <p>
            <input
              type="button"
              value="Atualizar"
              class="btn btn-primary"
              id="bt-cadastrar"
            />
          </p>
        </form>
      </div>
    </div>
  </section>
</main>
