<main>
  <section id="section-cadastro">
    <div id="form-cadastrar">
      <h1>Atualizar Banner</h1>

      <div *ngIf="produto" class="d-flex justify-content-center">
        <form method="post" action="" id="cadastro">
          <p>
            <label for="usuario">id: </label>
            <input
              
              name="id"
              required="required"
              type="text"
              class="form-control"
              [(ngModel)]="produto.id"
              readonly
            />
          </p>
          <p>
            <label for="usuario">Nome do Produto: </label>
            <input
              id="produto"
              name="produto"
              required="required"
              type="text"
              class="form-control"
              [(ngModel)]="produto.produto"
            />
          </p>
          <p>
            <label for="descricao">Descrição: </label>
            <input
              id="descricao"
              name="descricao"
              required="required"
              type="text"
              class="form-control"
              [(ngModel)]="produto.descricao"
            />
          </p>
          <p>
            <label for="foto">Foto: </label>
            <input
              id="foto"
              name="foto"
              required="required"
              type="text"
              class="form-control"
              [(ngModel)]="produto.foto"
            />
          </p>
          <p>
            <label for="preco">Preço: </label>
            <input
              id="preco"
              name="preco"
              required="required"
              type="number"
              class="form-control"
              [(ngModel)]="produto.preco"
            />
          </p>
          <p>
            <button
              type="button"
              class="btn btn-primary"
              id="bt-cadastrar"
              (click)="atualizar(produto.id)"
            >
              Atualizar
            </button>
          </p>
        </form>
      </div>
    </div>
  </section>
</main>
